<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Qualifying Course Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                       
                        <li class="breadcrumb-item active" aria-current="page">Qualifying Course</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-3">
                    <div class="card-body">

                        <form class="row g-3" [formGroup]="zmstqualifyingcourseFrmGroup">
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="qualificationId"
                                    class="form-label">Qualification</label>

                                <select id="qualificationId" formControlName="qualificationId"
                                    [ngClass]="{ 'is-invalid':(zmstqualifyingcourseFrmControl?.['qualificationId'].errors 
                            && (zmstqualifyingcourseFrmControl?.['qualificationId'].dirty || zmstqualifyingcourseFrmControl?.['qualificationId'].touched || submitted  ))}"
                                    class="form-select">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let qual Of QualList" value={{qual.qualificationId}}>
                                        {{qual.description}}</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="(zmstqualifyingcourseFrmControl?.['qualificationId'].touched || submitted) && zmstqualifyingcourseFrmControl?.['qualificationId'].errors?.['required']">
                                    Qualification is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="qualificationCourseId"
                                    class="form-label">Qualification Course Id</label> <input type="text"
                                    id="qualificationCourseId" formControlName="qualificationCourseId" [maxlength]="2"
                                    name="qualificationCourseId" class="form-control"
                                    placeholder="Qualification Course Id"
                                    [ngClass]="{ 'is-invalid':(zmstqualifyingcourseFrmControl?.['qualificationCourseId'].errors && (zmstqualifyingcourseFrmControl?.['qualificationCourseId'].dirty || zmstqualifyingcourseFrmControl?.['qualificationCourseId'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstqualifyingcourseFrmControl?.['qualificationCourseId'].touched || submitted) && zmstqualifyingcourseFrmControl?.['qualificationCourseId'].errors?.['required']">
                                    Qualification Course Id is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="qualificationCourseName"
                                    class="form-label">Qualification Course Name</label> <input type="text"
                                    id="qualificationCourseName" formControlName="qualificationCourseName"
                                    [maxlength]="500" name="qualificationCourseName" class="form-control"
                                    placeholder="Qualification Course Name"
                                    [ngClass]="{ 'is-invalid':(zmstqualifyingcourseFrmControl?.['qualificationCourseName'].errors && (zmstqualifyingcourseFrmControl?.['qualificationCourseName'].dirty || zmstqualifyingcourseFrmControl?.['qualificationCourseName'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstqualifyingcourseFrmControl?.['qualificationCourseName'].touched || submitted) && zmstqualifyingcourseFrmControl?.['qualificationCourseName'].errors?.['required']">
                                    Qualification Course Name is required</span>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" *ngIf="updatehdn==false" (click)="save()"
                                    class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="submit" *ngIf="updatehdn==true" (click)="update()"
                                    class="btn btn-primary me-3"> Update
                                </button>
                                <button type="button" class="btn btn-primary btn-danger" (click)="clear()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive mt-3">
                            <table id="zmstqualifyingcourseGrid" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Qualification Name</th>
                                        <th>Qualification Course Id</th>
                                        <th>Qualification Course Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="zmstqualifyingcourseList.length>0">
                                        <tr *ngFor="let data of zmstqualifyingcourseList;">
                                            <td>{{data.qualificationName}}</td>
                                            <td>{{data.qualificationCourseId}}</td>
                                            <td>{{data.qualificationCourseName}}</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a (click)="edit(data)"
                                                        class="ms-4 text-primary bg-light-primary border-0">
                                                        <i class="bx bxs-edit"></i>
                                                    </a>
                                                    <a (click)="delete(data.qualificationCourseId)"
                                                        class="ms-4 text-danger bg-light-danger border-0">
                                                        <i class="bx bxs-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Qualification Name</th>
                                        <th>Qualification Course Id</th>
                                        <th>Qualification Course Name</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>