<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Registration Management Services</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">

                        <li class="breadcrumb-item active" aria-current="page">Registration Management Services Summary
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <button type="button" class="btn btn-primary me-3 mb-3" (click)="btnUpdateAll()">
                                Update All
                            </button>
                            <div>
                                <table id="applicationSummary" *ngIf="appSummary.length>0"
                                    class="row-border hover table-sm w-100 align-middle mb-0">
                                    <thead class="table-light">
                                        <tr class="bg-primary bg-opacity-75 text-white">
                                            <th>SNo.</th>
                                            <th>Application Forms</th>
                                            <th>Registration</th>
                                            <th>Image Uploaded</th>
                                            <th>Fee Transactions</th>
                                            <th>Application URL</th>
                                            <th>Admin URL</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="appSummary.length>0">
                                            <tr *ngFor="let appSum of appSummary let i=index">
                                                <td>{{i+1}}</td>
                                                <td>{{appSum.appTitle}}</td>
                                                <td>{{(appSum.regis==null || appSum.regis=="")?"NA":appSum.regis.afs}}
                                                </td>
                                                <td>{{(appSum.regis==null || appSum.regis=="")?"NA":appSum.regis.imu}}
                                                </td>
                                                <td>{{(appSum.regis==null || appSum.regis=="")?"NA":appSum.regis.afp}}
                                                </td>
                                                <td>{{appSum.appUrl}}</td>
                                                <td>{{appSum.adminUrl}}</td>
                                                <td>{{appSum.scheduleDoc}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Application Forms</th>
                                            <th>Registration</th>
                                            <th>Image Uploaded</th>
                                            <th>Fee Transactions</th>
                                            <th>Application URL</th>
                                            <th>Admin URL</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>