<div class="authentication-forgot d-flex align-items-center justify-content-center">
    <div class="card forgot-box">
        <div class="card-body">
            <div class="p-4 rounded">                
                <h4 class="mt-0 font-weight-bold">Forgot Password?</h4>
                <p class="text-muted">Enter your Request Number to reset the password</p>
                <form [formGroup]="forgetpassword" autocomplete="off">
                <div class="my-4">
                    <label for="email" class="form-label">Request Id</label>
                    <input id="email" type="text"  formControlName="RequestNumber" class="form-control" [ngClass]="{ 'is-invalid':(formGroup?.['RequestNumber'].errors 
                    && (formGroup?.['RequestNumber'].dirty || formGroup?.['RequestNumber'].touched || submitted  ))}" />
                    <span class="text-danger"
                    *ngIf="(formGroup?.['RequestNumber'].touched || submitted) && formGroup?.['RequestNumber'].errors?.['required']">
                    Required
                </span>
                </div>
                
                <div class="d-grid gap-2">
                    <button type="button" id="btnSend" class="btn btn-primary btn-lg" (click)="onSend()">Send</button> 
                    <a routerLink="/login" class="btn btn-white btn-lg">
                        <i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>