<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Identity Type Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        
                        <li class="breadcrumb-item active" aria-current="page">Identity Type</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-3">
                    <div class="card-body">
                        <form class="row g-3" [formGroup]="zmstidentitytypeFrmGroup">
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="identityTypeId"
                                    class="form-label">Identity Type Id</label> <input type="text" id="identityTypeId"
                                    formControlName="identityTypeId" [maxlength]="2" name="identityTypeId"
                                    class="form-control" placeholder="Identity Type Id"
                                    [ngClass]="{ 'is-invalid':(zmstidentitytypeFrmControl?.['identityTypeId'].errors && (zmstidentitytypeFrmControl?.['identityTypeId'].dirty || zmstidentitytypeFrmControl?.['identityTypeId'].touched || submitted  ))}" />
                                <span class="text-danger"
                                    *ngIf="(zmstidentitytypeFrmControl?.['identityTypeId'].touched || submitted) && zmstidentitytypeFrmControl?.['identityTypeId'].errors?.['required']">
                                    Identity Type Id is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="description"
                                    class="form-label">Description</label> <input type="text" id="description"
                                    formControlName="description" [maxlength]="200" name="description"
                                    class="form-control" placeholder="Description"
                                    [ngClass]="{ 'is-invalid':(zmstidentitytypeFrmControl?.['description'].errors && (zmstidentitytypeFrmControl?.['description'].dirty || zmstidentitytypeFrmControl?.['description'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstidentitytypeFrmControl?.['description'].touched || submitted) && zmstidentitytypeFrmControl?.['description'].errors?.['required']">
                                    Description is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="alternateNames"
                                    class="form-label">Alternate Name</label> <input type="text" id="alternateNames"
                                    formControlName="alternateNames" [maxlength]="500" name="alternateNames"
                                    class="form-control" placeholder="Alternate Name"
                                    [ngClass]="{ 'is-invalid':(zmstidentitytypeFrmControl?.['alternateNames'].errors && (zmstidentitytypeFrmControl?.['alternateNames'].dirty || zmstidentitytypeFrmControl?.['alternateNames'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstidentitytypeFrmControl?.['alternateNames'].touched || submitted) && zmstidentitytypeFrmControl?.['alternateNames'].errors?.['required']">
                                    Alternate Name is required</span>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" *ngIf="updatehdn==false" (click)="save()"
                                    class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="submit" *ngIf="updatehdn==true" (click)="update()"
                                    class="btn btn-primary me-3"> Update
                                </button>
                                <button type="button" class="btn btn-primary btn-danger" (click)="clear()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive mt-3">
                            <table id="zmstidentitytypeGrid" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Identity Type Id</th>
                                        <th>Description</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="zmstidentitytypeList.length>0">
                                        <tr *ngFor="let data of zmstidentitytypeList;">
                                            <td>{{data.identityTypeId}}</td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.alternateNames}}</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a (click)="edit(data)"
                                                        class="ms-4 text-primary bg-light-primary border-0">
                                                        <i class="bx bxs-edit"></i>
                                                    </a>
                                                    <a (click)="delete(data.identityTypeId)"
                                                        class="ms-4 text-danger bg-light-danger border-0">
                                                        <i class="bx bxs-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Identity Type Id</th>
                                        <th>Description</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>