<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View PDf</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="file-priview-container">
            <ngx-extended-pdf-viewer [useBrowserLocale]="true" [handTool]="false" [base64Src]="selectedFileB64"
                [height]="'60vh'" [showHandToolButton]="true">
            </ngx-extended-pdf-viewer>
        </div>
    </div>
</ng-template>

<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">User MOU</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">User MOU</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div *ngIf="rowData.length>0" class="d-flex align-items-center">
                            <div>
                                <h5 class="card-title mb-1">{{rowData[0].projectName}}</h5>
                            </div>
                        </div> 
                        <div  class="row g-3">
                            <div *ngIf="rowData.length>0">
                                <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
                                    <label class="form-label">Project No</label>
                                    :
                                    <label>{{rowData[0].id}}</label>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
                                    <label class="form-label">Project code</label>
                                    :
                                    <label>{{rowData[0].requestNo}}</label>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
                                    <label class="form-label">Project Year</label>
                                    :
                                    <label>{{rowData[0].projectYear}}</label>
                                </div>
                                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
                                    <label class="form-label">Project Name</label>
                                    :
                                    <label>{{rowData[0].projectName}}</label>
                                </div>
                            </div>
                            <form [formGroup]="documentCycles">
                                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">

                                    <label class="form-label">Original MOU</label>
                                    :
                                    <label *ngIf="isavailMouunsign==0" class="text-warning">Pending</label>

                                    <button *ngIf="isavailMouunsign!=0" href="javascript:;" title="Download"
                                        class="ms-2 text-danger bg-light-danger border-0"
                                        (click)="btndownload(unsinMou)">
                                        <i class="bx bxs-download fs-4"></i>
                                    </button>
                                    <button *ngIf="isavailMouunsign!=0" href="javascript:;" title="View Document"
                                        class="ms-2 text-primary bg-light-primary border-0"
                                        (click)="viewDocument(unsinMou)"><i class='bx bxs-show fs-4'></i></button>
                                </div>
                                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
                                    <label class="form-label">Signed MOU</label>
                                    :
                                    <label *ngIf="isavailMousign==0" class="text-warning">Pending</label>

                                    <button *ngIf="isavailMousign!=0" href="javascript:;" title="Download"
                                        class="ms-2 text-danger bg-light-danger border-0"
                                        (click)="btndownload(signMou)">
                                        <i class="bx bxs-download fs-4"></i>
                                    </button>
                                    <button *ngIf="isavailMousign!=0" href="javascript:;" title="View Document"
                                        class="ms-2 text-primary bg-light-primary border-0"
                                        (click)="viewDocument(signMou)"><i class='bx bxs-show fs-4'></i></button>
                                    <button *ngIf="approved==true"
                                        class="ms-2 text-success bg-light-success border-0"><i
                                            class='bx bxs-check-circle fs-4' title="Signed MOU Verified"></i> </button>
                                </div>
                                
                                <div *ngIf="(isavailMouunsign!=0) && (approved==false) " class="col-xxl-4 col-xl-4 col-md-4 col-sm-12">
                                    <label class="form-label">Upload Unsigned MOU</label>
                                    <input type="file" class="form-control" formControlName="Uploadfile"
                                        name="Uploadfile" (change)="handleFileInput($event)" id="Uploadfile"
                                        placeholder="Upload Signed Request Letter"
                                        [ngClass]="{ 'is-invalid':(registerFormControl?.['Uploadfile'].errors 
                                && (registerFormControl?.['Uploadfile'].dirty || (submitted || fileUploadValidation)))}">
                                    <div class="help-block">Only PDF files are allowed to be uploaded</div>
                                    <span class="invalid-feedback"
                                        *ngIf="(submitted) && registerFormControl?.['Uploadfile'].errors?.['required']">
                                        file is required.
                                    </span>
                                    <span class="text-danger" *ngIf="fileUploadValidation==true">Please
                                        upload PDF file only.</span>
                                    <span class="text-danger" *ngIf="fileSizeValidation>500">Please
                                        file should be smaller than 500 KB</span>

                                </div>
                                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                    <button type="button" class="btn btn-primary me-3"
                                        (click)="documentSubmit()">Submit</button>
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>