<div class="d-flex mb-4">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 mx-auto">
            <div class="card" style="margin-top: 90px;">
               <div class="card-body">
                  <div class="border p-4 rounded">
                     <div class="text-center">
                        <h3>Request Link Message</h3>
                     </div>
                     <div class="login-separater text-center mb-4">
                        <hr />
                     </div>
                     <div class="form-body">
                        <p>
                           Dear User </p>
                        <p class="text-justify text-danger">
                           Your Request Link has been Expired. Please Contact to <strong>ADMIN</strong>.
                        </p>
                        <p>
                           Thank you.
                        </p>
                        <p>
                          <em> NIC Onboarding System </em>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>