<div class="page-wrapper">
    <div class="page-content">        
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Project</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                                               
                        <li class="breadcrumb-item active" aria-current="page">Project List</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
                            href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated
                            link</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <h5 class="mb-1">Project List</h5>
                            </div>                            
                        </div>
                        <div class="table-responsive mt-3">
                            <table id="example" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Request ID</th>
                                        <th>Temp Project</th>
                                        <th>Project Name</th>                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <ng-container *ngIf="listData.length>0" >
                                        <tr *ngFor="let user of listData;" > -->
                                            <!-- <th>{{user.requestNo}}
                                                 <a routerLink="/requestDetailsView/{{user.requestNo}}">{{user.requestNo }}</a>
                                                <a class="btn btn-link" ></a>
                                            </th>
                                            <td>{{user.tempararyProjectNo}}</td>
                                            <td>{{user.projectName}}</td> -->
                                            <!-- <td></td> -->
                                            <!-- <td>
                                                <span
                                                    class="badge bg-light-success text-success w-100 p-2"></span>
                                            </td> -->
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <!-- <a routerLink=""
                                                             class="text-primary bg-light-primary border-0">
                                                             <i class='bx bxs-show'></i>
                                                         </a> -->
                                                     <a  class="text-primary bg-light-primary border-0"
                                                       ><i
                                                            class='bx bxs-show'></i></a>
                                                    <a  class="ms-4 text-danger bg-light-danger border-0"
                                                       ><i
                                                            class='bx bx-user-check'></i></a>
                                                    <a class="ms-4 text-primary bg-light-primary border-0">
                                                    <i class='bx bx-mail-send'></i></a>        
                                                    <!-- <a routerLink="/auth/requestDetailsView/{{user.requestNo}}"
                                                            class="ms-4 text-danger bg-light-danger border-0">
                                                            <i class='bx bx-user-check'></i>
                                                         </a> -->
                                                    <!-- <a routerLink=""
                                                            class="ms-4 text-primary bg-light-primary border-0">
                                                            <i class='bx bx-mail-send'></i>
                                                         </a> -->
                                                </div>
                                            </td>
                                        <!-- </tr>
                                    </ng-container> -->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Request ID</th>
                                        <th>Temp Project</th>
                                        <th>Project Name</th>
                                        <!-- <th>Request Date</th>
                                        <th>Status</th> -->
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>

</div>