<div class="d-flex">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 mx-auto">
            <div class="card">
               <div class="card-body">
                  <div class="border p-4 rounded">
                     <div class="text-center">
                        <h3>Message</h3>
                     </div>
                     <div class="login-separater text-center mb-4">
                        <hr />
                     </div>
                     <div class="form-body" style="font-size: 18px;">
                        <p>
                           Dear <strong> {{User}} </strong>,
                        </p>
                        <p>
                           Your response of the Request Detail Page has been submitted successfully with respect to your
                           Request Number :
                           <strong style="color:red">
                              {{requestId}}
                           </strong>
                        </p>
                        <p>
                           <strong>Thanks & Regards</strong>
                        </p>
                        <p>
                           <em>NIC E-Counselling Division</em>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>