<section class="footersec bg-primary bg-opacity-25">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="disclaimerText">
                    <p>
                        Content Owned and Maintained by
                        <span>eCounselling Division</span>.
                        <br>
                        Designed, Developed and Hosted by <a href="http://www.nic.in/" target="_blank"
                            onclick="return confirm('You are being redirected to an external website. ');"
                            title="National Informatics Centre">National Informatics Centre</a>,
                        <br>
                        <a href="http://meity.gov.in/" target="_blank"
                            onclick="return confirm('You are being redirected to an external website. ');"
                            title="Ministry of Electronics &amp; Information Technology">Ministry of Electronics &amp;
                            Information Technology</a>, Government of India
                    </p>
                </div>

                <div class="disclaimerLogo">
                    <a href="https://ecounselling.nic.in/"
                        onclick="return confirm('You are being redirected to an external website. ');"
                        title="https://s3waas.gov.in/" target="_blank">
                        <img src="assets/images/footerlogo/ecounselling.png" alt="e-Counselling">
                    </a>
                    <a href="http://www.nic.in/"
                        onclick="return confirm('You are being redirected to an external website. ');"
                        title="http://www.nic.in/" target="_blank">
                        <img src="assets/images/footerlogo/nicLogo.png" alt="National Informatics Centre">
                    </a>
                    <a href="http://www.digitalindia.gov.in/"
                        onclick="return confirm('You are being redirected to an external website. ');"
                        title="http://www.digitalindia.gov.in/" target="_blank">
                        <img src="assets/images/footerlogo/digitalIndia.png" alt="Digital India">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <footer class="bg-white shadow-sm border-top p-2 text-center fixed-bottom">
    <p class="mb-0">Copyright © 2023. All right reserved. Version 1.0.0</p>
</footer> -->