<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Cycle Creation Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                       
                        <li class="breadcrumb-item active" aria-current="page">Cycle Creation</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-3">
                    <div class="card-body">
                        <form class="row g-3" [formGroup]="zmstprojectsFrmGroup">
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12">
                                <label for="agencyId" class="form-label">Agency Name</label>
                                <select id="agencyId" class="form-select" (change)="onSelectAgency($event)"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['agencyId'].errors 
                                     && (zmstprojectsFrmControl?.['agencyId'].dirty || zmstprojectsFrmControl?.['agencyId'].touched || submitted  ))}" formControlName="agencyId">
                                    <option value="" selected>--Select--
                                    </option>
                                    <option *ngFor="let Agency Of Agencydata" value={{Agency.agencyId}}>
                                        {{Agency.agencyName}}</option>
                                </select>
                                <span class="invalid-feedback"
                                    *ngIf="(zmstprojectsFrmControl?.['agencyId'].touched || submitted) && zmstprojectsFrmControl?.['agencyId'].errors?.['required']">
                                    Agency is Required
                                </span>
                            </div>
                            <div class="col-xxl-4 col-xxl-4 col-md-6 col-sm-12">
                                <label for="examCounsid" class="form-label">Exam Code/Code Cycle Id</label>
                                <select id="examCounsid" class="form-select" formControlName="examCounsid"
                                    (change)="onselectExamcode($event)"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['examCounsid'].errors 
                                     && (zmstprojectsFrmControl?.['examCounsid'].dirty || zmstprojectsFrmControl?.['examCounsid'].touched || submitted  ))}">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let Examcode of examcode" value={{Examcode.examCounsId}}>
                                        {{Examcode.description}}
                                    </option>
                                </select>
                                <span class="invalid-feedback"
                                    *ngIf="(zmstprojectsFrmControl?.['examCounsid'].touched || submitted) && zmstprojectsFrmControl?.['examCounsid'].errors?.['required']">
                                    Exam Code/Code Cycle Id is Required.
                                </span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="academicYear"
                                    class="form-label">Academic Year</label>
                                <select id="academicYear" formControlName="academicYear" name="academicYear"
                                    class="form-select" (change)="OnselectAcademics()"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['academicYear'].errors && (zmstprojectsFrmControl?.['academicYear'].dirty || zmstprojectsFrmControl?.['academicYear'].touched || submitted  ))}">
                                    <option value="0" >--Select--</option>
                                    <option *ngFor="let year of Years" value={{year.yearId}}>
                                        {{year.description}}
                                    </option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['academicYear'].touched || submitted) && zmstprojectsFrmControl?.['academicYear'].errors?.['required']">
                                    Academic Year is required</span>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12">
                                <label for="serviceType" class="form-label">Services</label>
                                <select id="serviceType" class="form-select" formControlName="serviceType"
                                    (change)="onselectservices($event)"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['serviceType'].errors 
                            && (zmstprojectsFrmControl?.['serviceType'].dirty || zmstprojectsFrmControl?.['serviceType'].touched || submitted  ))}">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let services of servicesdata" value={{services.serviceTypeId}}>
                                        {{services.serviceTypeName}}
                                    </option>
                                </select>
                                <span class="invalid-feedback"
                                    *ngIf="(zmstprojectsFrmControl?.['serviceType'].touched || submitted) && zmstprojectsFrmControl?.['serviceType'].errors?.['required']">
                                    Services Required.
                                </span>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="attempt"
                                    class="form-label">Attempt</label> <input type="number" id="attempt" [max]="9"
                                    [min]="1" formControlName="attempt" name="attempt" class="form-control"
                                    placeholder="Attempt" (change)="onattemptchange($event)" (keyup)="onattemptchange($event)"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['attempt'].errors && (zmstprojectsFrmControl?.['attempt'].dirty || zmstprojectsFrmControl?.['attempt'].touched || submitted  ))}" />
                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['attempt'].touched || submitted) && zmstprojectsFrmControl?.['attempt'].errors?.['required']">
                                    Attempt is required
                                </span>
                                <div *ngIf="zmstprojectsFrmControl?.['attempt'].errors?.['max']"
                                    class="invalid-feedback1">
                                    Attempt should be of 1 digit.
                                </div>
                                <div *ngIf="zmstprojectsFrmControl?.['attempt'].errors?.['min']"
                                    class="invalid-feedback1">
                                    Attempt should be greater than 0.
                                </div>

                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="projectId"
                                    class="form-label">Project Id</label> <input type="text" id="projectId"
                                    formControlName="projectId" [maxlength]="10" name="projectId" class="form-control"
                                    placeholder="ProjectId"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['projectId'].errors && (zmstprojectsFrmControl?.['projectId'].dirty || zmstprojectsFrmControl?.['projectId'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['projectId'].touched || submitted) && zmstprojectsFrmControl?.['projectId'].errors?.['required']">
                                    Project Id is required</span>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="projectName"
                                    class="form-label">Project Name</label> <input type="text" id="projectName"
                                    formControlName="projectName" [maxlength]="200" name="projectName"
                                    class="form-control" placeholder="ProjectName"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['projectName'].errors && (zmstprojectsFrmControl?.['projectName'].dirty || zmstprojectsFrmControl?.['projectName'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['projectName'].touched || submitted) && zmstprojectsFrmControl?.['projectName'].errors?.['required']">
                                    Project Name is required</span>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="isLive"
                                    class="form-label">Is Live</label> <select id="isLive" formControlName="isLive"
                                    [maxlength]="1" name="isLive" class="form-select"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['isLive'].errors && (zmstprojectsFrmControl?.['isLive'].dirty || zmstprojectsFrmControl?.['isLive'].touched || submitted  ))}">
                                    <option value="0" selected>--Select--</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['isLive'].touched || submitted) && zmstprojectsFrmControl?.['isLive'].errors?.['required']">
                                    Is Live is required</span>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12"> <label for="pInitiated"
                                    class="form-label">Project Initiated</label> <select id="pInitiated"
                                    formControlName="pInitiated" [maxlength]="1" name="pInitiated" class="form-select"
                                    [ngClass]="{ 'is-invalid':(zmstprojectsFrmControl?.['pInitiated'].errors && (zmstprojectsFrmControl?.['pInitiated'].dirty || zmstprojectsFrmControl?.['pInitiated'].touched || submitted  ))}">
                                    <option value="0" selected>--Select--</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf="(zmstprojectsFrmControl?.['pInitiated'].touched || submitted) && zmstprojectsFrmControl?.['pInitiated'].errors?.['required']">
                                    Project Initiated is required</span>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" *ngIf="updatehdn==false" (click)="save()"
                                    class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="submit" *ngIf="updatehdn==true" (click)="update()"
                                    class="btn btn-primary me-3"> Update
                                </button>
                                <button type="button" class="btn btn-primary btn-danger" (click)="clear()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive mt-3">
                            <table id="zmstprojectsGrid" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Agency Name</th>
                                        <th>Academic Year</th>
                                        <th>Project Id</th>
                                        <th>Project Name</th>
                                        <th>Is Live</th>
                                        <th>Project Initiated</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="zmstprojectsList.length>0">
                                        <tr *ngFor="let data of zmstprojectsList;">
                                            <td>{{data.agencyName}}</td>
                                            <td>{{((data.academicYear==20)?"2019-2020":(data.academicYear==21)?"2020-2021":(data.academicYear==22)?"2021-2022":(data.academicYear==23)?"2022-2023":(data.academicYear==24)?"2023-2024":(data.academicYear==25)?"2024-2025":(data.academicYear==26)?"2025-2026":data.academicYear)}}
                                            </td>
                                            <td>{{data.projectId}}</td>
                                            <td>{{data.projectName}}</td>
                                            <td>{{(data.isLive=='Y')?"Yes":"No"}}</td>

                                            <td>{{(data.pinitiated=='Y')?"Yes":"No"}}</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a (click)="edit(data)"
                                                        class="ms-4 text-primary bg-light-primary border-0">
                                                        <i class="bx bxs-edit"></i>
                                                    </a>
                                                    <a (click)="delete(data.projectId)"
                                                        class="ms-4 text-danger bg-light-danger border-0">
                                                        <i class="bx bxs-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Agency Name</th>
                                        <th>Academic Year</th>
                                        <th>Project Id</th>
                                        <th>Project Name</th>
                                        <th>Is Live</th>
                                        <th>Project Initiated</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>