<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View PDf</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="file-priview-container">
            <ngx-extended-pdf-viewer [useBrowserLocale]="true" [handTool]="false" [base64Src]="selectedFileB64"
                [height]="'60vh'" [showHandToolButton]="true">
            </ngx-extended-pdf-viewer>
        </div>
    </div>
</ng-template>
<form [formGroup]="SignOffForm" autocomplete="off" >
    <div class="row g-3">
        <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
            <label class="form-label">Sign Off and Data Handover</label>
            :
            <label *ngIf="isavailSignOff==0" class="text-warning">Pending</label>
              <button *ngIf="isavailSignOff!=0" href="javascript:;" title="Download"
              class="ms-2 text-primary bg-light-primary border-0"
              (click)="btndownload(signoffdocId)">
              <i class="bx bxs-download"></i>
          </button>
          <button *ngIf="isavailSignOff!=0" href="javascript:;" title="View Document"
              class="ms-2 text-primary bg-light-primary border-0"
              (click)="viewDocument(signoffdocId)"><i
                  class='bx bxs-show'></i></button>
        </div>
    </div>
</form>