<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Seat Type Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/auth/dashboard"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Seat Type</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-3">
                    <div class="card-body">
                        <form class="row g-3" [formGroup]="zmstseattypeFrmGroup">

                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                <label for="id" class="form-label">Id</label>
                                <input type="text" id="id" formControlName="id" [maxlength]="10" name="id"
                                    class="form-control" placeholder="Id"
                                    [ngClass]="{ 'is-invalid':(zmstseattypeFrmControl?.['id'].errors && (zmstseattypeFrmControl?.['id'].dirty || zmstseattypeFrmControl?.['id'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstseattypeFrmControl?.['id'].touched || submitted) && zmstseattypeFrmControl?.['id'].errors?.['required']">
                                    Id is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" id="description" formControlName="description" [maxlength]="250"
                                    name="description" class="form-control" placeholder="Description"
                                    [ngClass]="{ 'is-invalid':(zmstseattypeFrmControl?.['description'].errors && (zmstseattypeFrmControl?.['description'].dirty || zmstseattypeFrmControl?.['description'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstseattypeFrmControl?.['description'].touched || submitted) && zmstseattypeFrmControl?.['description'].errors?.['required']">
                                    Description is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                <label for="alternateNames" class="form-label">Alternate Name</label>
                                <input type="text" id="alternateNames" formControlName="alternateNames"
                                    [maxlength]="500" name="alternateNames" class="form-control"
                                    placeholder="Alternate Name"
                                    [ngClass]="{ 'is-invalid':(zmstseattypeFrmControl?.['alternateNames'].errors && (zmstseattypeFrmControl?.['alternateNames'].dirty || zmstseattypeFrmControl?.['alternateNames'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstseattypeFrmControl?.['alternateNames'].touched || submitted) && zmstseattypeFrmControl?.['alternateNames'].errors?.['required']">
                                    Alternate Name is required</span>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" *ngIf="updatehdn==false" (click)="save()"
                                    class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="submit" *ngIf="updatehdn==true" (click)="update()"
                                    class="btn btn-primary me-3"> Update
                                </button>
                                <button type="button" (click)="clear()" class="btn btn-primary btn-danger">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive mt-3">
                            <table id="zmstseattypeGrid" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Description</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="zmstseattypeList.length>0">
                                        <tr *ngFor="let data of zmstseattypeList;">
                                            <td>{{data.id}}</td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.alternateNames}}</td>

                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a (click)="edit(data)"
                                                        class="ms-4 text-primary bg-light-primary border-0">
                                                        <i class="bx bxs-edit"></i>
                                                    </a>
                                                    <a (click)="delete(data.id)"
                                                        class="ms-4 text-danger bg-light-danger border-0">
                                                        <i class="bx bxs-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Description</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>