<div class="d-flex mb-4">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 mx-auto">
            <div class="card">
               <div class="card-body">
                  <div class="border p-4 rounded">
                     <div class="text-center">
                        <h3>Message</h3>
                     </div>
                     <div class="login-separater text-center mb-4">
                        <hr />
                     </div>
                     <div class="form-body">
                        <p>
                           Dear <strong>{{Cordname}}</strong> 
                        </p>
                        <p>
                           Your status of Onboarding request has been <strong>{{showStatus}}</strong> 
                           of RequestID  <strong style="color:red">{{requestIdrequest}}</strong>
                        </p>
                        <p>
                           Status Of Detail Page:<strong>{{showStatusdetail}}</strong>
                        </p>
                           <p>
                           <strong>Note : </strong> Please save your request number for further communication.
                           We have sent same request number at your registered email.
                        </p>
                          <p>
                           <strong>Thanks & Regards</strong>
                        </p>
                        <p>
                           <em> NIC Onboarding System</em>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>