<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Change Password </div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/auth/pmudashboard"><i
                                    class="bx bx-home-alt"></i></a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-2">
                    <div class="card-body mt-3">
                        <form class="row g-3" [formGroup]="changepasswordFrmGroup">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                                <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                    <label for="oldPassword" class="form-label">Old Password</label>
                                    <div class="input-group" id="show_hide_password">
                                        <input [type]="oldpassword" id="oldPassword" formControlName="oldPassword"
                                            [maxlength]="100" name="oldPassword" class="form-control"
                                            placeholder="Old Password"
                                            [ngClass]="{ 'is-invalid':(changePasswordFrmControl?.['oldPassword'].errors && (changePasswordFrmControl?.['oldPassword'].dirty || changePasswordFrmControl?.['oldPassword'].touched || submitted  ))}" />
                                        <a href="javascript:;" (click)="onClickOldPassword()"
                                            class="input-group-text bg-warning">
                                            <i class="bx bx-hide" aria-hidden="true" *ngIf="!show"></i>
                                            <i class="bx bx-show" aria-hidden="true" *ngIf="show"></i>
                                        </a>
                                       
                                    </div>
                                    <span class="text-danger"
                                    *ngIf="(changePasswordFrmControl?.['oldPassword'].touched || submitted) && changePasswordFrmControl?.['oldPassword'].errors?.['required']">
                                    Old Password is required
                                </span>
                                    <span class="text-danger"
                                        *ngIf="changePasswordFrmControl?.['oldPassword'].touched && changePasswordFrmControl?.['oldPassword'].errors?.['invalid']">
                                        Script or Style are not allowed.
                                    </span>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                                <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12" id> <label for="newPassword"
                                        class="form-label">New Password</label>
                                    <div class="input-group" id="show_hide_password">
                                        <input [type]="password" id="newPassword" formControlName="newPassword"
                                            [maxlength]="100" name="newPassword" class="form-control"
                                            placeholder="New Password"
                                            [ngClass]="{ 'is-invalid':(changePasswordFrmControl?.['newPassword'].errors && (changePasswordFrmControl?.['newPassword'].dirty || changePasswordFrmControl?.['newPassword'].touched || submitted ))}" />
                                        <a href="javascript:;" (click)="onClickNewPassword()"
                                            class="input-group-text bg-warning">
                                            <i class="bx bx-hide" aria-hidden="true" *ngIf="!showN"></i>
                                            <i class="bx bx-show" aria-hidden="true" *ngIf="showN"></i>
                                        </a>                                        
                                    </div>
                                    <span class="text-danger"
                                            *ngIf="(changePasswordFrmControl?.['newPassword'].touched || submitted) && changePasswordFrmControl?.['newPassword'].errors?.['required']">
                                            New Password is required
                                        </span>
                                    <span class="text-danger"
                                        *ngIf="changePasswordFrmControl?.['newPassword'].touched && changePasswordFrmControl?.['newPassword'].errors?.['invalid']">
                                        Script or Style are not allowed.
                                    </span>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                                <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="confirmNewPassword"
                                        class="form-label">Confirm New Password</label>
                                    <div class="input-group" id="show_hide_password">
                                        <input [type]="confirmNewPassword" id="confirmNewPassword"
                                            formControlName="confirmNewPassword" [maxlength]="100" name="id"
                                            class="form-control" placeholder="Confirm New Password"
                                            [ngClass]="{ 'is-invalid':(changePasswordFrmControl?.['confirmNewPassword'].errors && (changePasswordFrmControl?.['confirmNewPassword'].dirty || changePasswordFrmControl?.['confirmNewPassword'].touched || submitted  ))}" />
                                        <a href="javascript:;" (click)="onClickConfirmPassword()"
                                            class="input-group-text bg-warning">
                                            <i class="bx bx-hide" aria-hidden="true" *ngIf="!show"></i>
                                            <i class="bx bx-show" aria-hidden="true" *ngIf="show"></i>
                                        </a>                                        
                                    </div>
                                    <span class="text-danger"
                                            *ngIf="(changePasswordFrmControl?.['confirmNewPassword'].touched || submitted) && changePasswordFrmControl?.['confirmNewPassword'].errors?.['required']">
                                            Confirm Password is required
                                        </span>
                                        <span class="text-danger"
                                            *ngIf="changePasswordFrmControl?.['confirmNewPassword'].touched && changePasswordFrmControl?.['confirmNewPassword'].errors?.['passwordMismatch']">
                                            New and Confirm Passwords are not matching.
                                        </span>
                                    <span class="text-danger"
                                        *ngIf="changePasswordFrmControl?.['confirmNewPassword'].touched && changePasswordFrmControl?.['confirmNewPassword'].errors?.['invalid']">
                                        Script or Style are not allowed.
                                    </span>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3"></div>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" (click)="save()" class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="button" class="btn btn-primary btn-danger" (click)="clear()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>