<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Qualification Management</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                       
                        <li class="breadcrumb-item active" aria-current="page">Qualification</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-3">
                    <div class="card-body">
                        <form class="row g-3" [formGroup]="zmstqualificationFrmGroup">
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="qualificationId"
                                    class="form-label">Qualification Id</label> <input type="text" id="qualificationId"
                                    formControlName="qualificationId" [maxlength]="2" name="qualificationId"
                                    class="form-control" placeholder="Qualification Id"
                                    [ngClass]="{ 'is-invalid':(zmstqualificationFrmControl?.['qualificationId'].errors && (zmstqualificationFrmControl?.['qualificationId'].dirty || zmstqualificationFrmControl?.['qualificationId'].touched || submitted  ))}" />
                                <span class="text-danger"
                                    *ngIf="(zmstqualificationFrmControl?.['qualificationId'].touched || submitted) && zmstqualificationFrmControl?.['qualificationId'].errors?.['required']">Qualification
                                    Id is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="description"
                                    class="form-label">Qualification Description</label> <input type="text"
                                    id="description" formControlName="description" [maxlength]="300" name="description"
                                    class="form-control" placeholder="Qualification Description"
                                    [ngClass]="{ 'is-invalid':(zmstqualificationFrmControl?.['description'].errors && (zmstqualificationFrmControl?.['description'].dirty || zmstqualificationFrmControl?.['description'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstqualificationFrmControl?.['description'].touched || submitted) && zmstqualificationFrmControl?.['description'].errors?.['required']">Qualification
                                    Description is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="name"
                                    class="form-label">Qualification Name</label> <input type="text" id="name"
                                    formControlName="name" [maxlength]="200" name="name" class="form-control"
                                    placeholder="Qualification Name"
                                    [ngClass]="{ 'is-invalid':(zmstqualificationFrmControl?.['name'].errors && (zmstqualificationFrmControl?.['name'].dirty || zmstqualificationFrmControl?.['name'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstqualificationFrmControl?.['name'].touched || submitted) && zmstqualificationFrmControl?.['name'].errors?.['required']">Qualification
                                    Name is required</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label for="alternateNames"
                                    class="form-label">Alternate Name</label> <input type="text" id="alternateNames"
                                    formControlName="alternateNames" [maxlength]="500" name="alternateNames"
                                    class="form-control" placeholder="Alternate Name"
                                    [ngClass]="{ 'is-invalid':(zmstqualificationFrmControl?.['alternateNames'].errors && (zmstqualificationFrmControl?.['alternateNames'].dirty || zmstqualificationFrmControl?.['alternateNames'].touched || submitted  ))}" />

                                <span class="text-danger"
                                    *ngIf="(zmstqualificationFrmControl?.['alternateNames'].touched || submitted) && zmstqualificationFrmControl?.['alternateNames'].errors?.['required']">Alternate
                                    Name is required</span>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" *ngIf="updatehdn==false" (click)="save()"
                                    class="btn btn-primary me-3"> Submit
                                </button>
                                <button type="submit" *ngIf="updatehdn==true" (click)="update()"
                                    class="btn btn-primary me-3"> Update
                                </button>
                                <button type="button" class="btn btn-primary btn-danger" (click)="clear()">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div class="table-responsive mt-3">
                            <table id="zmstqualificationGrid" class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Qualification Id</th>
                                        <th>Qualification Description</th>
                                        <th>Qualification Name</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="zmstqualificationList.length>0">
                                        <tr *ngFor="let data of zmstqualificationList;">
                                            <td>{{data.qualificationId}}</td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.alternateNames}}</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a (click)="edit(data)"
                                                        class="ms-4 text-primary bg-light-primary border-0">
                                                        <i class="bx bxs-edit"></i>
                                                    </a>
                                                    <a (click)="delete(data.qualificationId)"
                                                        class="ms-4 text-danger bg-light-danger border-0">
                                                        <i class="bx bxs-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Qualification Id</th>
                                        <th>Qualification Description</th>
                                        <th>Qualification Name</th>
                                        <th>Alternate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>