<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View PDf</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="file-priview-container">
            <ngx-extended-pdf-viewer [useBrowserLocale]="true" [handTool]="false" [base64Src]="selectedFileB64"
                [height]="'60vh'" [showHandToolButton]="true">
            </ngx-extended-pdf-viewer>
        </div>
    </div>
</ng-template>
<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">User Document</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active" aria-current="page">User Document Details</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
                            href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated
                            link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card radius-10 mb-0">
                    <div class="card-body">
                        <div *ngIf="rowData!='NA'" class="row g-3">

                            <div class="col-xxl-10 col-xl-10 col-md-10 col-sm-10">
                                <h5>{{rowData.projectName}}({{rowData.requestNo}})</h5>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-md-3 col-sm-2">
                                <label for="inputProjectYear" class="form-label">Project Year</label> :
                                <label id="inputProjectYear">{{rowData.projectYear}}</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="card radius-10 mb-0">
                                    <div class="card-body">
                                        <div id="Documents" role="tabpanel">
                                            <form [formGroup]="documentCycles" autocomplete="off">
                                                <div [hidden]="datauploadhide" class="row g-3">
                                                    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                                        <label for="docType" class="form-label">Document Type</label>
                                                        <select id="docType" formControlName="docType"
                                                            [ngClass]="{ 'is-invalid':(projectDocumentFormControl?.['docType'].errors 
                            && (projectDocumentFormControl?.['docType'].dirty || projectDocumentFormControl?.['docType'].touched || submittedDocument  ))}"
                                                            class="form-select" (change)="onSelectDocumentType($event)">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let docType Of documentType"
                                                                value={{docType.id}}>
                                                                {{docType.title}}</option>

                                                        </select>
                                                        <span class="invalid-feedback"
                                                            *ngIf="(projectDocumentFormControl?.['docType'].touched || submittedDocument) && projectDocumentFormControl?.['docType'].errors?.['required']">
                                                            Required.
                                                        </span>
                                                    </div>
                                                    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                                        <label for="inputFile" class="form-label">Choose File</label>

                                                        <input id="inputFile" type="file" class="form-control"
                                                            (change)="handleFileInput($event)"
                                                            formControlName="chooseFile"
                                                            [ngClass]="{ 'is-invalid':(projectDocumentFormControl?.['chooseFile'].errors 
                                && (projectDocumentFormControl?.['chooseFile'].dirty || projectDocumentFormControl?.['chooseFile'].touched || submittedDocument  ))}">
                                                        <div class="help-block">Only .pdf file allow to Upload.</div>
                                                        <span class="invalid-feedback"
                                                            *ngIf="(projectDocumentFormControl?.['chooseFile'].touched || submittedDocument) && projectDocumentFormControl?.['chooseFile'].errors?.['required']">
                                                            Required.
                                                        </span>
                                                        <span class="text-danger"
                                                            *ngIf="fileUploadValidation==true">Please
                                                            upload PDf File only.</span>

                                                    </div>
                                                    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12"> <label
                                                            for="subjectName" class="form-label">Subject</label> <input
                                                            type="text" id="subjectName" formControlName="subjectName"
                                                            [maxlength]="200" name="subjectName" class="form-control"
                                                            placeholder="Subject"
                                                            [ngClass]="{ 'is-invalid':(projectDocumentFormControl?.['subjectName'].errors && (projectDocumentFormControl?.['subjectName'].dirty || projectDocumentFormControl?.['subjectName'].touched || submittedDocument  ))}" />

                                                        <span class="text-danger"
                                                            *ngIf="(projectDocumentFormControl?.['subjectName'].touched || submittedDocument) && projectDocumentFormControl?.['subjectName'].errors?.['required']">Subject
                                                            is required</span>
                                                    </div>
                                                </div>
                                                <div [hidden]="datauploadhide" class="row g-3 mt-1">
                                                    <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                                        <button type="button" class="btn btn-primary me-3"
                                                            (click)="documentSubmit()">
                                                            Submit
                                                        </button>
                                                        <button type="button" class="btn btn-danger">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>